@{
    ViewData["Title"] = "Niklas Embretsen hemsida";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till min hemsida</h1>
    <a class="btn btn-primary" asp-controller="OnlineCV" asp-action="index">Mitt online CV</a>
</div>
