@{
    ViewData["Title"] = "Mitt online CV";
}

<div class="text-center">
    <h1>Välkommen till mitt online CV.</h1>
    <p>Kul att du hittat hit.</p>
    <div class="btn-group">
        <a asp-action="OmMig" type="button" class="btn btn-primary">Om mig</a>
        <a asp-action="ErfarenhetKunskaper" type="button" class="btn btn-primary">Erfarenhet och kunskaper</a>
        <a asp-action="UtbildningKurser" type="button" class="btn btn-primary">Utbildning och kurser</a>
    </div>
</div>
